@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');

:root {
  --primary-dark: #202a4d;
  --primary-light: #f1f4f2;
  --accent-coral: #efabaa;
  --accent-blue: #8a9cac;
  --font-family: 'Mako', sans-serif;
  --font-size-base: 18px;
  --padding-main: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

@media (max-width: 768px) {
  :root {
    --font-size-base: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --font-size-base: 16px;
    --padding-main: 8px;
  }
}

/*Styles for container that contains all the cards*/
.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 83%;
  height: screen;
  border-radius: 20px;
}

/*Styles for each card*/
.store-card {
  margin: 10px;
  width: 97%;
  padding: 5px;
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 4px 4px 4px 0 var(--accent-coral);
  min-height: 250px;
}

@media (max-width: 1024px) {
  .store-container {
    width: 100%;
  }
  .store-card {
    min-height: 230px;
  }
}

@media (max-width: 768px) {
  .store-card {
    min-height: 150px;
  }
}

/*Styles for car main container*/
.card-main {
  width: 100%;
  padding-top: 10px;
  flex: 9;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}

.store-img-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.store-img-bg {
  aspect-ratio: 1/1;
  height: 80%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.store-img-bg:hover {
  transform: scale(1.1);
}

.store-info-container {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.store-header-container {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-name-container{
  font-size: 1.5em;
  font-weight: bold;
}

.store-rating-container {
  padding: 5px;
  display: inline-flex;
}

.store-rating {
  padding: 5px;
}

.stars-container {
  padding: 2%;
  display:flex;
  align-items: center;
}

.star-img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .star-img {
    width: 15px;
    height: 15px;
  }
}

.book-table-container {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: start;
}

.book-table {
  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;
}

.book-table th,
.book-table td {
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  border: 1px solid var(--accent-blue);
}

.book-table th {
  font-weight: bold;
}

.book-table td:first-child {
  width: 70%;
}

.book-table td:not(:first-child) {
  width: 30%;
}

td {
  font-size: 0.7em;
}

/*Styles for card footer*/
.card-footer {
  padding-top: 3px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-url-container {
  height: 100%;
  padding: 5px;
  padding-left: 10px;
  flex: 9;
  display: flex;
  justify-content: start;
  align-items: center;
}

.date-url-container span,
.date-url-container a {
  font-size: 0.9em;
  margin-right: 5px;
}

.flag-container {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
  /* padding-right: 3%; */
}

.flag-img {
  height: auto;
  padding-right: 0;
  margin-right: 0;
}

/*Styles for error and loading messages*/
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message, .loading-message {
  font-size: 2em;
  margin-top: 20px;
  color: var(--accent-blue);
}

.loading {
  display: flex;
}